body {
    font-family: "Roboto", sans-serif;
}
.content {
    background-color: #f7f9fc;
}
/* Start Page Table Content */
.player-profile-content .main-header,
.table-page-content .main-header {
    color: white;
    letter-spacing: 2px;
    word-spacing: 5;
}


.table-page-content .headline {
    color: #505b73;
    font-size: 14;
    padding: 0px 10px 2px;
}
.table-page-content .headline .image {
    width: 15%;
    text-align: center;
}
.table-page-content .headline .rank {
    width: 20px;
}
.table-page-content .headline .round,
.table-page-content .headline .points {
    width: 80px;
    text-align: center;
}


.table-page-content .playerline {
    padding: 10px 10px;
    border: 1px solid #e4e8f0;
    border-radius: 6px;
    margin-bottom: 3px;
    font-size: 18px;
}
.table-page-content .playerline .player {
    white-space: nowrap;
}
.table-page-content .playerline .player .player-name {
    cursor: pointer;
    text-decoration: none;
}
.table-page-content .playerline .player .player-name:hover {
    color: #0070df;
    text-decoration: underline;
}
.table-page-content .playerline .image {
    width: 15%;
    text-align: center;
}
.table-page-content .playerline .rank {
    width: 20px;
    padding-left: 5px;
}
.table-page-content .playerline .round,
.table-page-content .playerline .points {
    width: 80px;
    text-align: center;
}
.table-page-content .image img {
    width: 50px;
    height: 50px;
    padding: 0;
    border-radius: 50%;
    border: 2px solid #f7f9fc;
    cursor: pointer;
}
@media (max-width:768px) {
    .table-page-content .headline .image,
    .table-page-content .playerline .image {
        width: 80px;
    }
    .table-page-content .headline .points,
    .table-page-content .headline .round,
    .table-page-content .playerline .points,
    .table-page-content .playerline .round {
        width: 50px;
    }
    .table-page-content .playerline .points,
    .table-page-content .playerline .round,
    .table-page-content .playerline .player,
    .table-page-content .playerline .rank {
        font-size: 16px;
    }
    .table-page-content .playerline {
        padding-block: 10px;
    }
    .table-page-content .headline {
        font-size: 12px;
    }
    .table-page-content .image img {
        width: 40px;
        height: 40px;
    }
}
@media (max-width:350px) {
    .table-page-content .headline .points,
    .table-page-content .headline .round,
    .table-page-content .playerline .points,
    .table-page-content .playerline .round {
        width: 40px;
    }
    .table-page-content .headline .image,
    .table-page-content .playerline .image {
        width: 60px;
    }
    .table-page-content .playerline .points,
    .table-page-content .playerline .round,
    .table-page-content .playerline .player,
    .table-page-content .playerline .rank {
        font-size: 14px;
    }
    .table-page-content .playerline {
        padding-block: 8px;
    }
    .table-page-content .headline {
        font-size: 11px;
    }
    .table-page-content .image img {
        width: 30px;
        height: 30px;
    }
}
/* End Page Table Content */
/* Start Player Profile Content */
.player-profile-content .main-header .image {
    margin-right: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #f7f9fc;
    overflow: hidden;
}
.player-profile-content .main-header img {
    width: 100%;
    height: 100%;
}
.player-profile-content .main-header .header {
    font-size: 30px;
}


.player-profile-content .headline {
    color: #505b73;
    font-size: 14;
    padding: 0px 10px 2px;
}
.player-profile-content .headline .rank {
    width: 60px;
}
.player-profile-content .headline .round,
.player-profile-content .headline .score {
    width: 80px;
    text-align: center;
}


.player-profile-content .day-line {
    padding: 15px 10px;
    border: 1px solid #e4e8f0;
    border-radius: 6px;
    margin-bottom: 3px;
    font-size: 18px;
}
.player-profile-content .day-line .date {
    white-space: nowrap;
}
.player-profile-content .day-line .rank {
    width: 60px;
    padding-left: 5px;
}
.player-profile-content .day-line .round,
.player-profile-content .day-line .score {
    width: 80px;
    text-align: center;
}

@media (max-width:768px) {
    .player-profile-content .main-header .header {
        font-size: 26px;
    }
    .player-profile-content .main-header .image {
        margin-right: 15px;
        width: 80px;
        height: 80px;
    }
    .player-profile-content .headline .round,
    .player-profile-content .headline .score,
    .player-profile-content .day-line .round,
    .player-profile-content .day-line .score {
        width: 50px;
    } 
    .player-profile-content .day-line .rank,
    .player-profile-content .day-line .date,
    .player-profile-content .day-line .round,
    .player-profile-content .day-line .score {
        font-size: 16px;
    }
    .player-profile-content .headline {
        font-size: 12;
    }
    .player-profile-content .day-line {
        padding-block: 11px;
    }
}
@media (max-width:350px) {
    .player-profile-content .main-header .header {
        font-size: 22px;
    }
    .player-profile-content .headline .round,
    .player-profile-content .headline .score,
    .player-profile-content .day-line .round,
    .player-profile-content .day-line .score {
        width: 40px;
    }
    .player-profile-content .day-line .rank,
    .player-profile-content .day-line .date,
    .player-profile-content .day-line .round,
    .player-profile-content .day-line .score {
        font-size: 14px;
    }
    .player-profile-content .headline {
        font-size: 11;
    }
    .player-profile-content .headline .rank {
        width: 40px;
    }
    .player-profile-content .day-line .rank {
        width: 40px;
    }
}
/* End Player Profile Content */